{% if visitor.group.can("add_post", "add_draft", "add_page", "view_own_draft", "view_draft", "change_settings", "toggle_extensions") %}
<div id="admin">
  <ul class="wrapper">
    {% if visitor.group.can("add_post") %}
    <li><a id="add_post" href="{% admin "write_post" %}"><i class="plus-sign"></i>${ "Post" | translate }</a></li>
    {% elseif visitor.group.can("add_draft") %}
    <li><a id="add_draft" href="{% admin "write_post" %}"><i class="plus-sign"></i>${ "Write Draft" | translate }</a></li>
    {% endif %}
    {% if visitor.group.can("add_page") %}
    <li><a id="add_page" href="{% admin "write_page" %}"><i class="plus-sign"></i>${ "Page" | translate }</a></li>
    {% endif %}
    {% if visitor.group.can("change_settings", "toggle_extensions") %}
    <li><a id="site_settings" href="$site.chyrp_url/admin/"><i class="cog"></i>${ "Admin" | translate }</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
