    <footer>
        <span>Copyright &copy; 2013. <span class="support">${ "Powered by <a class=\"chyrp\" href=\"http://chyrp.net/\" rel=\"generator\">Chyrp</a>" | translate }</span> Theme Paradigm by <a href="https://github.com/xhezairi/paradigm/graphs/contributors">Contributors</a>
        <br />
        All trademarks and copyrights remain the property of their respective owners.</span>
    </footer>
</div>
