    <form method="get" id="searchform" action="${ site.url | escape }" accept-charset="utf-8">
        <input type="text" name="query" id="s" placeholder="Enter keywords..." x-webkit-speech />
        <input type="hidden" name="action" value="search" id="action" />
    <!--<input type="submit" class="submit" name="submit" id="searchsubmit" value="Search">-->
    </form>
