{% extends "layouts/default.twig" %}

{% block content %}
    <!-- begin pages/index.twig -->
    {% for post in posts.paginated %}
        {% include "feathers/" ~ post.feather ~ ".twig" %}
    {% else %}
        {% include "partials/prompts.twig" %}
    	<article id="post-not-found" class="post">
    		<header class="posthead">
    	  	<h2>Whoops! Looks like we can't find this post.</h2>
    	  </header>
	  
    	  <section class="post-content">
    	  	<p>It seems like this post is missing somewhere. Double-check the URL or try navigating back via the website menu links.</p>
    	  </section>
    	</article>
    {% endfor %}
    <!-- end pages/index.twig -->
{% endblock %}
