{% extends "layouts/default.twig" %}

{% block content %}
                <div class="page">
                    <div id="content">
    					<header class="posthead">
    						<h2 class="bigger">$page.title</h2>
    					</header>
                        <p>$page.body</p>

                        {% if page.editable and page.deletable %}
                        <span class="controls right">
                            $page.edit_link | $page.delete_link
                        </span>
                        {% endif %}
                    </div>
                </div>
{% endblock %}
