{% extends "layouts/default.twig" %}

{% block content %}
{% if posts.paginated %}
    <header class="archiveshead">
        <h2>${ "Search results for &#8220;%s&#8221;" | translate | format(search | escape) }</h2>
    </header>
{% endif %}
{% for post in posts.paginated %}
    {% include "feathers/" ~ post.feather ~ ".twig" %}
{% else %}
    <article class="post">
	    <header class="posthead">
          	<h2>${ "Sorry, no results found matching &#8220;%s&#8221;" | translate | format(search | escape) }</h2>
        </header>

        <section class="post-content">
  	        <p>Maybe try searching under a different keyword?</p>      	
      	    <p>Or head back to the <a href="$site.url">home page</a> and look for your content again.</p>
        </section>
    </article>
{% endfor %}
{% endblock %}
